.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  a {
    color: var(--path-color);

    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid currentColor;

    transition: color 0.25s;
    transition: background-color 0.25s;
  }

  a.active,
  a:hover,
  a:focus-visible {
    color: #fff;
    background-color: var(--path-color);
  }
}
