.container {
  display: flex;
  flex-direction: column;

  height: 100%;

  & > .entry:first-child {
    margin-top: 1em;
  }

  .entry {
    border: 1px solid #999a;
    padding: 1em;
    border-radius: 0.25em;

    margin: 0.5em;

    display: grid;
    grid-template-areas:
      "favorite info"
      "solved   solutions";
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 8px;

    .favorite {
      grid-area: favorite;
      justify-self: center;
    }

    .info {
      grid-area: info;
    }

    .solved {
      grid-area: solved;
      justify-self: center;
    }

    .message {
      grid-area: solutions;
    }
  }
}
