.container {
  position: relative;

  .grid {
    display: grid;
    gap: 4px;

    button {
      aspect-ratio: 1 / 1;
      width: 40px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.2em;
    }
  }

  .letter {
    border: 4px solid transparent;
    --intensity: 0;
  }

  .solution {
    background-color: rgba(from var(--solution-color) r g b / var(--intensity));
  }

  .building {
    border-color: rgba(from var(--path-color) r g b / var(--intensity));
  }

  .solved {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5em;

    backdrop-filter: blur(8px);
  }

  .goal {
    border-color: rgba(from var(--path-color) r g b / 0.5);
    border-style: dashed;
  }
}
